@import url(https://fonts.googleapis.com/css?family=Raleway:300,700,900);
body{
	font: 300 17px/1.58 'Raleway', Arial, sans-serif;
	color: #262626;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	background-color: #ff6033;
	width: 200px;
	min-height: 55px;
	text-decoration: none;
	border: none;
	line-height: 55px;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	color: #FFF;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
/* Layout */
/* header */
.ba-container {
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
}
.ba-fresh {
	min-height: 100vh;
	background: #FFF url(../img/fresh/fresh-bg.jpg);
	padding: 50px 0 45px;
	position: relative;
}
.ba-header__menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
.ba-header__menu li {
	float: left;
	padding-left: 38px;
}
.ba-header__menu li:first-child {
	padding-left: 0;
}
.ba-header__menu li a {
	display: block;
	color: #262626;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	padding-top: 18px;
	position: relative;
	line-height: 1;
}
.ba-header__menu li a.active:before, .ba-header__menu li a:hover:before {
    opacity: 1;
    transform: translateY(0);
}
.ba-header__menu li a:before{
	display: block;
	background-color:  #ff6033;
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	top: 8px;
	height: 3px;
	opacity: 0;
	transform: translateY(-10px);
	transition: transform .2s ease-in, opacity .2s ease-in;
}
.ba-header__menu li a.active:before,
.ba-header__menu li a:hover:before{
	opacity: 1;
	transform: translateY(0);
}

/* fresh */

.ba-fresh__info {
	padding: 252px 0;
}
.ba-fresh__info h2 {
	font-size: 60px;
	font-weight: 800;
	line-height: 25px;
}
.ba-fresh__info p {
	margin-bottom: 30px;
}
.ba-button:hover {
    background-color: #F43500;
}
.ba-fresh__scroll{
	background: url(../img/fresh/fresh-scroll.png) no-repeat;
	position: absolute;
    bottom: 69px;
    left: 50%;
    width: 24px;
    margin-left: -12px;
    height: 40px;
    transition: transform .2s ease-in;
}
.ba-fresh__scroll:hover {
	transform: translateY(-10px);
}

/* about */

.ba-about {
	background: #00c4c4 url(../img/about/about-bg.png);
	padding: 75px 0 ;
}
.ba-about__content {
	max-width: 500px;
	color:  #ffffff;
	padding-top: 50px;
}
.ba-about__content h2 {
	font-size: 90px;
	font-weight: 700;
	line-height: 27px;
}
.ba-services {
 	background: #70BFFF url(../img/services/services-bg.png);
	padding: 106px 0 150px;
}
.ba-services h2 {
	color: #FFF;
	font-size: 90px;
	font-weight: 700;
	text-align: right;
	padding: 200px 0;
}

/* services */

.ba-services__title{
	background: transparent url(../img/services/services-img.png) 50% 50% no-repeat;
}
.ba-services {
	list-style: none;
	margin: 0;
	padding: 76px 0 0 100px;
}
.ba-service__item {
	background-color: #ffffff;
	height: 100px;
	font-size: 0;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
	margin-top: 20px;
	max-width: 400px;
}
.ba-service:first-child {
	margin-top: 0;
}
.ba-service__title{
	display: inline-block;
	line-height: 1.3;
	font-size: 20px;
	width: calc(100% - 100px);
	margin: 0;
	vertical-align: middle;
	padding: 0 30px;
	text-align: center;
}
.ba-service__icon {
	display: inline-block;
	height: 100px;
	width: 100px;
	background-position: 50%;
	background-repeat: no-repeat;
	border-left: 1px solid #9D9D9D;
	vertical-align: middle;
}
.ba-service__icon--basket {
	background-image: url(../img/services/icons/online-shop.png);
}
.ba-service__icon--hand {
	background-image: url(../img/services/icons/quality-prod.png);
}
.ba-service__icon--globe {
	background-image: url(../img/services/icons/did.png);
}
.ba-service__icon--carrot {
	background-image: url(../img/services/icons/wellorg.png);
}
.ba-gallery {
	background: #ffe92f url(../img/gallery/gallery-bg.png);
	padding-top: 100px;
}

/* gallery */

.ba-gallery__tittle h2 {
	margin: 0;
	font-size: 90px;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	padding-bottom: 40px;
}
.ba-gallery__tittle p{
	max-width: 600px;
	margin: 0 auto;
	text-align-last: center;
	padding-bottom: 48px;
}
.ba-gallery__button {
	padding: 50px 0 120px;
	text-align-last: center;
}
.ba-button__gl {
	background: #5585a2;
}
.ba-button__gl:hover {
	background: #172534;
}

/* subscribe */

.ba-subscribe {
	background: #FFF url(../img/subscribe/subscribe-back.png);
	padding: 140px 0 160px;
}
.ba-subscribe__info {
	max-width: 570px;
	text-align: left;
}
.ba-subscribe__info h3 {
	font-size: 40px;
	font-weight: 700;
	margin: 0;
}
.ba-subscribe__info p {
	margin: 0;
	padding: 35px 0 ;
}
.ba-subscribe__email {
	width: 570px;
	line-height: 27px;
	min-height: 57px;
	font-size: 15px;
	outline: none;
	border: 1px solid black;
	padding-left: 15px;
	vertical-align: middle;
}
.ba-subsribe__button {
	background: #96b92c;
	max-width: 170px;
	vertical-align: middle;
}
.ba-subsribe__button:hover {
	background: #5585a2;
}
.ba-contact {
	background: #FFF url(../img/contact/contact-bg.png);
}
.ba-contact__title {
	text-align: center;
}
.ba-contact__title h2 {
	margin: 0;
	font-size: 90px;
	font-weight: 700;
}
.ba-contact__title p {
	max-width: 370px;
	margin: 0 auto;
	padding-bottom: 45px;
}
.ba-contacts::-webkit-input-placeholder {
	color:#fff;
}
/* blog */

.ba-blog{
	background-color: #B07CF7;
	padding: 100px 0 120px;
	text-align:center;
}

.ba-blog__info{
	width: 570px;
	margin: 0 auto;
	color: #ffffff;
	line-height: 25px;
}

.ba-blog__title {
	font-size: 90px;
	font-weight: 700;
	margin: 0;
}

.ba-info p{
	padding: 50px 0;
	max-width: 570px;
	text-align: center;
	margin: 0 auto;
}

.ba-blog__link {
	position: relative;
	display: block;
	transition: all .3s;
}

.ba-blog__img {
	width: 100%;
	display: block;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}
.ba-blog__link--text{
	position: absolute;
	bottom: 0;
	width: 100%;
    color:  #ffffff;
	font-size: 25px;
	font-weight: 700;
	line-height: 25px;
	text-align: left;
	margin: 0;
	background: linear-gradient(to top, #000 0%, transparent 100%);
	padding-left: 20px;
	transition: box-shadow .2s ease-in;
}
.ba-blog__link--text h5 {
	margin: 0;
}

.ba-blog__link--text p {
	color:  #ffffff;
	font-size: 13px;
	font-weight: 300;
	margin: 0;
	padding: 25px 0;
}

.ba-blog__link--time {
	position: absolute;
    width: 60px;
    height: 60px;
    left: 30px;
    top: 30px;
    background-color: #535A63;
    color: #FFF;
    border-radius: 5px;
    font-size: 32px;
    font-weight: 700;
    line-height: 25px;
    }

.ba-blog__link--time span {
	font-size: 21px;
	font-weight: 800;
}
.ba-blog__gl:hover .ba-blog__link:not(:hover) {
	-webkit-filter: blur(2px);
    filter: blur(2px);
	transition: all .3s;
}
.ba-button__blog{
	background-color:  #f72b3b;
	margin-top: 50px;
}
.ba-button__blog:hover{
	background-color:  #97030c;
	margin-top: 50px;
}


/* contact us*/
.ba-form {
	padding-bottom: 100px;
	position: relative;
}
.ba-contacts {
	font-size: 15px;
	max-width: 500px;
	margin-bottom: 16px;
	outline: none;
	width: 100%;
	background-color: rgba(0, 196, 196, 0.5);
	color: #fff;
	border-left: 5px solid transparent;
	min-height: 50px;
	padding-left: 20px;
}
.ba-contacts:focus {
	background-color: #00C4C4;
	border-left: 5px solid #355b82 ;
	font-weight: 700;
}
.ba-contacts:hover {
	background-color: #00C4C4;
	border-left: 5px solid #355b82 ;
	font-weight: 700;
}
.ba-blog__button {
	background-color: rgba(0, 196, 196, 0.5);
}
.ba-blog__button:hover {
	background-color: #00C4C4;
}
.ba-contact__info {
	padding-left: 50px;
}
.ba-contact__info h5{
	margin: 0;
	text-transform: uppercase;
}
.ba-contact__info a{
	margin: 0;
	text-decoration: none;
	color: #262626;
}
/* footer */
.ba-footer {
	background-color: #262626;
}
.ba-footer__info {
	padding: 30px 0;
	color:  #b9b9b9;
	font-size: 16px;
}
.ba-footer__copy,
.ba-footer__logo,
.ba-footer__made {
	display: inline-block;
}
.ba-footer__logo {
	padding: 0 280px;
}
.ba-footer__made a {
	text-decoration: none;
	color:  red;
}
